In [1]:
import sys
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split
import joblib

helper_path = os.path.abspath(os.path.join("..", "helper_functions"))
print(helper_path)  # check the full path
sys.path.append(helper_path)

from helper import display_unique_counts

d:\Documents\University\ThirdYear\First Semester\Applied Analytical Models\VoltCity-Charging-Portal-MAIN\helper_functions

In [2]:
#VARIABLES
dataset=r"../data/ev_charging_dataset_Final(in).csv"

## Data Exploration
Understanding the dataset structure, data types, column names, etc.

In [3]:
df = pd.read_csv(dataset)
display(df.head(5))
display(df.describe())
display(df.info())

categorical_features = ['Vehicle Model', 'Charging Station Location', 'Time of Day', 'Day of Week', 'Charger Type', 'User Type', 'Long Session']
display
for column in categorical_features:
    display_unique_counts(df, column)

,Vehicle Model,Battery Capacity (kWh),Charging Station Location,Energy Consumed (kWh),Charging Rate (kW),Charging Time Difference (minutes),Time of Day,Day of Week,State of Charge (Start %),State of Charge (End %),Distance Driven (since last charge) (km),Temperature (°C),Vehicle Age (years),Charger Type,User Type,Energy per 100 km (kWh/100 km),Charging Cost (USD),Long Session
0,BMW i3,108.463007,Houston,60.712346,25.889181,39,Evening,Tuesday,29.371576,85.346739,293.602111,27.947953,2.0,DC Fast Charger,Commuter,20.678443,24.284938,Normal
1,Hyundai Kona,100.000000,San Francisco,12.339275,30.677735,121,Morning,Monday,10.115778,22.455053,112.112804,14.311026,3.0,Level 1,Casual Driver,11.006125,1.604106,Normal
2,Chevy Bolt,75.000000,San Francisco,19.128876,27.513593,168,Morning,Thursday,6.854604,32.359772,71.799253,21.002002,2.0,Level 2,Commuter,26.642165,4.782219,Long Session
3,Hyundai Kona,50.000000,Houston,79.457824,22.382870,222,Evening,Saturday,83.120003,100.000000,199.577785,38.316313,1.0,Level 1,Long-Distance Traveler,39.812960,10.329517,Normal
4,Hyundai Kona,50.000000,Los Angeles,19.629104,10.215712,106,Morning,Saturday,54.258950,93.517158,203.661847,-7.834199,1.0,Level 1,Long-Distance Traveler,9.638086,2.551784,Long Session

,Battery Capacity (kWh),Energy Consumed (kWh),Charging Rate (kW),Charging Time Difference (minutes),State of Charge (Start %),State of Charge (End %),Distance Driven (since last charge) (km),Temperature (°C),Vehicle Age (years),Energy per 100 km (kWh/100 km),Charging Cost (USD)
count,9320.000000,9320.000000,9320.000000,9320.000000,9320.000000,9320.000000,9320.000000,9320.000000,9320.000000,9320.000000,9320.000000
mean,73.910783,41.402582,28.191925,133.089592,49.029708,87.186861,146.088780,15.928409,3.715553,81.522293,10.862714
std,19.683486,22.365034,13.769530,57.173892,22.886584,19.488987,77.535221,14.450640,2.078588,819.528798,7.775449
min,1.532807,0.034927,0.016973,0.000000,0.091238,3.361057,0.057898,-29.137794,0.000000,0.016771,0.004540
25%,60.915303,24.784312,20.393439,92.000000,32.261649,78.309930,87.439666,5.725917,2.000000,16.000156,4.984273
50%,73.682230,39.986208,25.972736,135.000000,48.191867,100.000000,143.445570,15.488985,4.000000,28.195108,8.994145
75%,85.910186,55.932828,39.399031,173.250000,64.597298,100.000000,198.674532,25.961973,5.000000,50.736516,15.325152
max,193.003074,164.229465,109.530486,336.000000,152.489761,100.000000,504.996206,78.365821,11.688592,45391.445600,60.895503

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9320 entries, 0 to 9319
Data columns (total 18 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Vehicle Model                             9320 non-null   object
 1   Battery Capacity (kWh)                    9320 non-null   float64
 2   Charging Station Location                 9320 non-null   object
 3   Energy Consumed (kWh)                     9320 non-null   float64
 4   Charging Rate (kW)                        9320 non-null   float64
 5   Charging Time Difference (minutes)        9320 non-null   int64
 6   Time of Day                               9320 non-null   object
 7   Day of Week                               9320 non-null   object
 8   State of Charge (Start %)                 9320 non-null   float64
 9   State of Charge (End %)                   9320 non-null   float64
 10  Distance Driven (since last charge) (km)  9320 non-null   float64
 11  Temperature (°C)                          9320 non-null   float64
 12  Vehicle Age (years)                       9320 non-null   float64
 13  Charger Type                              9320 non-null   object
 14  User Type                                 9320 non-null   object
 15  Energy per 100 km (kWh/100 km)            9320 non-null   float64
 16  Charging Cost (USD)                       9320 non-null   float64
 17  Long Session                              9320 non-null   object
dtypes: float64(10), int64(1), object(7)
memory usage: 1.3+ MB

None

Unique values and counts for 'Vehicle Model':

- Hyundai Kona: 1973
- Chevy Bolt: 1959
- BMW i3: 1877
- Nissan Leaf: 1766
- Tesla Model 3: 1745
Unique values and counts for 'Charging Station Location':

- San Francisco: 2292
- New York: 1918
- Houston: 1862
- Chicago: 1681
- Los Angeles: 1567
Unique values and counts for 'Time of Day':

- Evening: 2642
- Morning: 2441
- Night: 2174
- Afternoon: 2063
Unique values and counts for 'Day of Week':

- Friday: 1801
- Tuesday: 1782
- Saturday: 1663
- Sunday: 1195
- Wednesday: 1185
- Monday: 1086
- Thursday: 608
Unique values and counts for 'Charger Type':

- DC Fast Charger: 3233
- Level 1: 3094
- Level 2: 2993
Unique values and counts for 'User Type':

- Commuter: 3753
- Long-Distance Traveler: 3066
- Casual Driver: 2501
Unique values and counts for 'Long Session':

- Normal: 5874
- Long Session: 3446

## Encoding
Converting Categorical features (e.g. ("Name" : "Yaman") to ("Name" : 1))

In [4]:
"""
We seperate the categorical features into two parts, nominal features and Ordinal features

Nominal features have no inherent order, whilst ordinal features have inherent order

for nominal features we use onehotencoder, and for ordinal features we use labelencoder
"""

nominal_categorical = ['Vehicle Model', 'Charging Station Location']
ordinal_categorical = ["Charger Type", "User Type", "Time of Day", "Day of Week", "Long Session"]

dfenc = df.copy() #copy the dataframe to encode it

## Encode the ordinal features 
labelencoders = {}
for column in ordinal_categorical:
    le = LabelEncoder()
    dfenc[column] = le.fit_transform(dfenc[column])
    labelencoders[column] = le

## Encode the nominal features
dfenc = pd.get_dummies(dfenc, columns=nominal_categorical)

display(dfenc.head(1))

,Battery Capacity (kWh),Energy Consumed (kWh),Charging Rate (kW),Charging Time Difference (minutes),Time of Day,Day of Week,State of Charge (Start %),State of Charge (End %),Distance Driven (since last charge) (km),Temperature (°C),...,Vehicle Model_BMW i3,Vehicle Model_Chevy Bolt,Vehicle Model_Hyundai Kona,Vehicle Model_Nissan Leaf,Vehicle Model_Tesla Model 3,Charging Station Location_Chicago,Charging Station Location_Houston,Charging Station Location_Los Angeles,Charging Station Location_New York,Charging Station Location_San Francisco
0,108.463007,60.712346,25.889181,39,1,5,29.371576,85.346739,293.602111,27.947953,...,True,False,False,False,False,False,True,False,False,False

## Find Bias

In [5]:
"""
In the end return the df after fixing the bias, but for now skip
"""

'\nIn the end return the df after fixing the bias, but for now skip\n'

## Prepare Input Matrices

In [6]:
"""
Prepare the input matrices for Long session, Cost Charge, and Time Difference
"""

X_l = dfenc.drop(columns=["Long Session"])
y_l = dfenc["Long Session"]

X_cc = dfenc.drop(columns=["Charging Cost (USD)"])
y_cc = dfenc['Charging Cost (USD)']

X_td = dfenc.drop(columns=["Charging Time Difference (minutes)"])
y_td = dfenc['Charging Time Difference (minutes)']


target_list = {"Long Session" : {"X" : X_l, "y" : y_l}, 
               "Charging Cost (USD)" : {"X" : X_cc, "y" : y_cc}, 
               "Charging Time Difference (minutes)" : {"X" : X_td, "y" : y_td}}

for target, value in target_list.items():
    print(f"Target Column is #{target}#")
    for split, value in value.items():
        print(f"{split}")
        display(value.head(1))

Target Column is #Long Session#
X

,Battery Capacity (kWh),Energy Consumed (kWh),Charging Rate (kW),Charging Time Difference (minutes),Time of Day,Day of Week,State of Charge (Start %),State of Charge (End %),Distance Driven (since last charge) (km),Temperature (°C),...,Vehicle Model_BMW i3,Vehicle Model_Chevy Bolt,Vehicle Model_Hyundai Kona,Vehicle Model_Nissan Leaf,Vehicle Model_Tesla Model 3,Charging Station Location_Chicago,Charging Station Location_Houston,Charging Station Location_Los Angeles,Charging Station Location_New York,Charging Station Location_San Francisco
0,108.463007,60.712346,25.889181,39,1,5,29.371576,85.346739,293.602111,27.947953,...,True,False,False,False,False,False,True,False,False,False

y

0    1
Name: Long Session, dtype: int64

Target Column is #Charging Cost (USD)#
X

,Battery Capacity (kWh),Energy Consumed (kWh),Charging Rate (kW),Charging Time Difference (minutes),Time of Day,Day of Week,State of Charge (Start %),State of Charge (End %),Distance Driven (since last charge) (km),Temperature (°C),...,Vehicle Model_BMW i3,Vehicle Model_Chevy Bolt,Vehicle Model_Hyundai Kona,Vehicle Model_Nissan Leaf,Vehicle Model_Tesla Model 3,Charging Station Location_Chicago,Charging Station Location_Houston,Charging Station Location_Los Angeles,Charging Station Location_New York,Charging Station Location_San Francisco
0,108.463007,60.712346,25.889181,39,1,5,29.371576,85.346739,293.602111,27.947953,...,True,False,False,False,False,False,True,False,False,False

y

0    24.284938
Name: Charging Cost (USD), dtype: float64

Target Column is #Charging Time Difference (minutes)#
X

,Battery Capacity (kWh),Energy Consumed (kWh),Charging Rate (kW),Time of Day,Day of Week,State of Charge (Start %),State of Charge (End %),Distance Driven (since last charge) (km),Temperature (°C),Vehicle Age (years),...,Vehicle Model_BMW i3,Vehicle Model_Chevy Bolt,Vehicle Model_Hyundai Kona,Vehicle Model_Nissan Leaf,Vehicle Model_Tesla Model 3,Charging Station Location_Chicago,Charging Station Location_Houston,Charging Station Location_Los Angeles,Charging Station Location_New York,Charging Station Location_San Francisco
0,108.463007,60.712346,25.889181,1,5,29.371576,85.346739,293.602111,27.947953,2.0,...,True,False,False,False,False,False,True,False,False,False

y

0    39
Name: Charging Time Difference (minutes), dtype: int64

X_train, X_test, y_train, y_test = traintestsplit()

In [9]:
decoded_y_l = labelencoders["Long Session"].inverse_transform(y_l)
y_l, print(decoded_y_l[:10])

['Normal' 'Normal' 'Long Session' 'Normal' 'Long Session' 'Long Session'
 'Long Session' 'Long Session' 'Normal' 'Normal']

(0       1
 1       1
 2       0
 3       1
 4       0
        ..
 9315    1
 9316    1
 9317    1
 9318    1
 9319    1
 Name: Long Session, Length: 9320, dtype: int64,
 None)

In [7]:
split_results = {}

for target_label, data in target_list.items():
    X = data["X"]
    y = data['y']
    
    X_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
    
    split_results[target_label] = {
        "X_train" : X_train,
        "X_test" : x_test,
        "y_train" : y_train,
        "y_test" : y_test
    }
    
    print(f"Finished {target_label}")

joblib.dump(dfenc, "../data/preprocessed_encoded_data.pkl") #save the encoded dataframe for scalability purposes
joblib.dump(split_results, "../data/preprocessed_splits.pkl") #save the splits

print(f"Successfully saved data and split results")

Finished Long Session
Finished Charging Cost (USD)
Finished Charging Time Difference (minutes)
Successfully saved data and split results